@font-face {
  font-family: DD;
  src: url('/assets/fonts/DigitalDisco.ttf');
}

@font-face{
  font-family: DD-thin;
  src: url('/assets/fonts/DigitalDisco-Thin.ttf');
}

@font-face{
  font-family: retroWindows;
  src: url("/assets/fonts/M_8pt.ttf");
}

body {
  background-image: url('/assets/images/background.jpg');
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  text-align: center;
  padding: 0%, 12.5%;
}

#readabilityGradient {
  position: fixed;
  text-align: center;
  width: 95%;
  background-image: linear-gradient(to right, #00000000, #00000088 10%, #00000088 90%, #00000000);
  height: 100%;
  left: 5%;
  top: 0%;
  z-index: -1;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color:aliceblue;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
}

.initaltext {
  margin-top: 50px;
  margin-bottom: 32px;
}

.maintext {
  margin-top: 16px;
  margin-bottom: 16px;
}

.smalltext {
  font-size: 16px;
  color:slategray;
}

.subtitle {
  position: relative;
  color: white;
  background-color: #d4d0c8;
  text-align: center;
  height: 150px;
  width: 75%;
  image-rendering: pixelated;
  margin-top: 64px;
  margin-bottom: 16px;
  align-self: center;
  place-self: center;
  justify-self: center;
  border: 50px solid transparent;
  border-image: url("/assets/images/windows/other/windowResizeable.png") 25 25 25 round;
  box-sizing: border-box;
}

.subtitle h1{
  color: #404040;
  vertical-align:bottom;
  font-family: DD;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-rendering: pixelated;
  image-rendering: pixelated;
  text-align: center;
  overflow: hidden;
  white-space: pre;
}

h2{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.nav {
  background-color: slategray;
  overflow: hidden;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
  align-items: center;
  align-self: center;
  color: #f2f2f2;
}

.nav a {
  position: relative;
  float: middle;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: darkred;
  color: white;
}

#Toronto_z18a{
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0%;
}

pagering-link{
  position: relative;
  font-size: 16px;
  text-align: center;
  margin-inline: auto;
}

.pagering{
  font-size: 16px;
}

a{
  color:aqua;
}

.meinsuit {
  width: 115px;
  position: fixed;
}

.miniButtons {
  position: relative;
  margin-top: 150px;
  height: fit-content;
  image-rendering: pixelated;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  pointer-events: all;
  justify-self: space-around;
}

.miniButtons a{
  color: transparent;
  width: fit-content;
  height: fit-content;
}

.miniButtons img{
  width: 88px;
  height: 31px;
  margin: 1px;
}

.miniButtons img:hover {
  cursor: pointer;
}

#buttoncredit {
  margin: 8px;
}

#imagesofmeinsuit{
  position: fixed;
  top: 30%;
}

#window{
  box-sizing: border-box;
  background-color: #d4d0c8;
  image-rendering: pixelated;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
  border: 50px solid transparent;
  border-image: url("/assets/images/windows/other/windowResizeable.png") 25 25 25 round;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
}

#windowContent{
  align-content: center;
  justify-content: center;
  overflow-y: auto;
}

.windowContent{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#windowGradient{
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 40px;
  z-index: 3;
  background-image: linear-gradient(to top, #d4d0c8, transparent);
}

#windowBack{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #00000088;
  visibility: hidden;
  opacity: 0;
}

/* Scrollbar styling for inspiration window (man that's a lot) */

.windowContent::-webkit-scrollbar{
  position: absolute;
  height: 100%;
  width: 36px;
  background-image: url("/assets/images/windows/other/dithering.png");
  image-rendering: pixelated;
  background-repeat: repeat-y;
  background-size: 200%;
}

.windowContent::-webkit-scrollbar-thumb {
  background-color: #d4d0c8;
  border: 12px solid transparent;
  border-image: url("/assets/images/windows/buttons/blank.png") 3 3 3 round;
}

.windowContent::-webkit-scrollbar-thumb:hover {
  border-image: url("/assets/images/windows/buttons/focus/blank.png") 3 3 3 round;
}

.windowContent::-webkit-scrollbar-button{
  width: 36px;
  height: 36px;
  background-size: 36px;
}

.windowContent::-webkit-scrollbar-button:increment{
  background-image: url("/assets/images/windows/buttons/down.png");
}

.windowContent::-webkit-scrollbar-button:decrement{
  background-image: url("/assets/images/windows/buttons/up.png");
}

.windowContent::-webkit-scrollbar-button:increment:hover{
  background-image: url("/assets/images/windows/buttons/focus/down.png");
}

.windowContent::-webkit-scrollbar-button:decrement:hover{
  background-image: url("/assets/images/windows/buttons/focus/up.png");
}

.windowText{
  position: absolute;
  text-align: left;
  font-size: 36px;
  top: -40px;
  left: -36px;
  font-family: DD;
  image-rendering: pixelated;
  margin: 0%;
}

#closeButton{
  position: absolute;
  width: 36px;
  height: 36px;
  top: -40px;
  right: -40px;
  content: url("/assets/images/windows/buttons/x.png");
  image-rendering: pixelated;
  border: 0px black;
}

#closeButton:hover{
  content: url("/assets/images/windows/buttons/focus/x.png");
  cursor: pointer;
}

#beatblockLogo{
  width: 690px;
  height: 122px;
  image-rendering: pixelated;
}

#undertaleYellowLogo{
  image-rendering: pixelated;
  width: 810px;
  height: 184px;
  position: relative;
  top: 25px;
}

#glitchCatTitle{
  font-family: DD;
  font-size: 112px;
  margin: 0;
  text-shadow:
  -3px -3px 0 #000,
  3px -3px 0 #000,
  -3px 3px 0 #000,
  3px 3px 0 #000; 
}

#windowBottomButton{
  position: relative;
  top: 5%;
  margin-bottom: 100px;
}

.inspirationList{
  position: relative;
  margin-top: 150px;
  overflow: visible;
  justify-content: space-around;
  justify-items: space-around;
  justify-self: space-around;
  background-color: #d4d0c8;
  width: 75%;
  margin-inline: auto;
  height: 30%;
  right: 0%;
  border: 50px solid transparent;
  border-image: url("/assets/images/windows/other/windowResizeable.png") 25 25 25 round;
}

.inspirations img{
  width: 20%;
  height: auto;
  justify-content: space-around;
  justify-items: space-around;
  justify-self: space-around;
  border: 8px solid transparent;
  border-image: url("/assets/images/windows/containers/c.png") 2 2 2 round;
  image-rendering: pixelated;
}

.inspirations img:hover{
  border-image: url("/assets/images/windows/containers/a.png") 2 2 2 round;
  cursor: pointer;
}

.inspirations{
  position: relative;
  top: 25px;
}

@media only screen and (max-width: 1000px) {
  p{
    font-size: 32px;
  }
  .smalltext{
    font-size: 20px;
  }
  .pagering{
    font-size: 20px;
  }
  .nav {
    height: 40px;
    font-size: 32px;
  }
  .nav a {
    font-size: 32px;
  }
  #buttonCredit{
    position: relative;
    top: 120px;
  }
  .miniButtons img{
    width: 176px;
    height: 62px;
    margin: 2px;
  }
  .miniButtons a{
    height: 62px;
  }
  #undertaleYellowLogo{
    width: 405px;
    height: 92px;
  }
}