@font-face {
  font-family: beatblock;
  src: url('/DigitalDisco.ttf');
}

body {
    background-image: url('/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.initaltext {
    text-align: center;
    color:aliceblue;
    vertical-align:bottom;
    transform: translate(0%, 0%);
}

.subtitle {
    position: relative;
    text-align: center;
    color: white;
    top:10px;
    transform: translate(0%, 70%);
}

.subtitle-text{
    text-align: center;
    color: #404040;
    vertical-align:bottom;
    font-family: beatblock;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    text-rendering: pixelated;
    image-rendering: pixelated;
}

.subtitleimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:1000px;
  content: src("/Window_Header.png");
  image-rendering: pixelated;
}

@media only screen and (max-width: 1000px) {
  .subtitleimage{
    content: url("/Window_Header_Small.png");
    width: 500px;
  }
  .subtitle{
    transform: translate(0%, 100%)
  }
}

.maintext {
    text-align: center;
    color:aliceblue;
    vertical-align:top;
    position: top;
    transform: translate(0%, 65%);
    font-size: 24px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2{
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.nav {
  background-color: slategray;
  overflow: hidden;
  width: 100%;
  height: 125%;
  position: left;
}

.nav a {
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: darkred;
  color: white;
}

#wavelength {
    width: 100%;
    transform: translate(0, 70%)
}

a{
  color:aqua;
}

#meinsuit {
    width: 20%;
    transform: translate(0, 15%);
    text-align: center;
}

body{
  text-align: center;
}