@font-face {
  font-family: DD;
  src: url('/DigitalDisco.ttf');
}

@font-face{
  font-family: DD-thin;
  src: url('/DigitalDisco-Thin.ttf');
}

@font-face{
  font-family: retroWindows;
  src: url("/M_8pt.ttf");
}

body {
  background-image: url('/background.jpg');
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  text-align: center;
}

#readabilityGradient {
  position: fixed;
  text-align: center;
  width: 95%;
  background-image: linear-gradient(to right, #00000000, #00000088 10%, #00000088 90%, #00000000);
  height: 100%;
  left: 5%;
  top: 0%;
  z-index: -1;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color:aliceblue;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
}

.initaltext {
  margin-top: 50px;
  margin-bottom: 32px;
}

.maintext {
  margin-top: 16px;
  margin-bottom: 16px;
}

.smalltext {
  font-size: 16px;
  color:slategray;
}

.subtitle {
  position: relative;
  color: white;
  text-align: center;
  height: 100px;
  image-rendering: pixelated;
  margin-top: 64px;
  margin-bottom: 16px;
}

.subtitle h1{
  color: #404040;
  vertical-align:bottom;
  font-family: DD;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  text-rendering: pixelated;
  image-rendering: pixelated;
  text-align: center;
  overflow: hidden;
}

.subtitle img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
  content: src("/main-images/Window_Header.png");
  image-rendering: pixelated;
  text-align: center;
}

h2{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.nav {
  background-color: slategray;
  overflow: hidden;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
  align-items: center;
  align-self: center;
  color: #f2f2f2;
}

.nav a {
  position: relative;
  float: middle;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: darkred;
  color: white;
}

pagering-link{
  position: relative;
  vertical-align: middle;
  align-self: center;
  color: white;
  font-size: 16px;
}

a{
  color:aqua;
}

.meinsuit {
  width: 120px;
  position: fixed;
}

.miniButtons {
  position: relative;
  top: 160px;
  height: fit-content;
  image-rendering: pixelated;
  margin-left: 10%;
  margin-right: 10%;
  pointer-events: all;
}

.miniButtons img{
  width: 88px;
  height: 31px;
  margin: 1px;
}

.miniButtons img:hover {
  cursor: pointer;
}

#buttoncredit {
  position: relative;
  top: 140px;
}

#imagesofmeinsuit{
  position: fixed;
  top: 30%;
}

#window{
  box-sizing: border-box;
  background-color: #d4d0c8;
  image-rendering: pixelated;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
  border: 50px solid transparent;
  border-image: url("/windowResizeable.png") 25 25 25 round;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
}

#windowContent{
  align-content: center;
  justify-content: center;
  overflow-y: auto;
}

.windowContent{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#windowGradient{
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 40px;
  z-index: 3;
  background-image: linear-gradient(to top, #d4d0c8, transparent);
}

#windowBack{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #00000088;
  visibility: hidden;
  opacity: 0;
}

/* Scrollbar styling for inspiration window (man that's a lot) */

.windowContent::-webkit-scrollbar{
  position: absolute;
  height: 100%;
  width: 36px;
  background-image: url("/dithering.png");
  image-rendering: pixelated;
  background-repeat: repeat-y;
  background-size: 200%;
}

.windowContent::-webkit-scrollbar-thumb {
  background-color: #d4d0c8;
  border: 12px solid transparent;
  border-image: url("/retroWindowsButtons/button.png") 3 3 3 round;
}

.windowContent::-webkit-scrollbar-thumb:hover {
  border-image: url("/retroWindowsButtons/button-focus.png") 3 3 3 round;
}

.windowContent::-webkit-scrollbar-button{
  width: 36px;
  height: 36px;
  background-size: 36px;
}

.windowContent::-webkit-scrollbar-button:increment{
  background-image: url("/retroWindowsButtons/downbutton.png");
}

.windowContent::-webkit-scrollbar-button:decrement{
  background-image: url("/retroWindowsButtons/upbutton.png");
}

.windowContent::-webkit-scrollbar-button:increment:hover{
  background-image: url("/retroWindowsButtons/downbutton-focus.png");
}

.windowContent::-webkit-scrollbar-button:decrement:hover{
  background-image: url("/retroWindowsButtons/upbutton-focus.png");
}

#windowText{
  position: fixed;
  text-align: left;
  font-size: 36px;
  top: -40px;
  left: -36px;
  font-family: DD;
  image-rendering: pixelated;
  margin: 0%;
}

#closeButton{
  position: absolute;
  width: 36px;
  height: 36px;
  top: -40px;
  right: -40px;
  content: url("/retroWindowsButtons/Xbutton.png");
  image-rendering: pixelated;
  border: 0px black;
}

#closeButton:hover{
  content: url("/retroWindowsButtons/Xbutton-focus.png");
  cursor: pointer;
}

#beatblockLogo{
  width: 690px;
  height: 122px;
  image-rendering: pixelated;
}

#undertaleYellowLogo{
  image-rendering: pixelated;
  width: 810px;
  height: 184px;
  position: relative;
  top: 25px;
}

#glitchCatTitle{
  font-family: DD;
  font-size: 112px;
  margin: 0;
}

#windowBottomButton{
  position: relative;
  top: 5%;
}

.inspirationList{
  position: relative;
  top: 150px;
  overflow: visible;
  justify-content: space-around;
  justify-items: space-around;
  justify-self: space-around;
  background-color: #d4d0c8;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 30%;
  right: 0%;
  border: 50px solid transparent;
  border-image: url("/windowResizeable.png") 25 25 25 round;
}

.inspirations img{
  width: 20%;
  height: auto;
  justify-content: space-around;
  justify-items: space-around;
  justify-self: space-around;
  border: 8px solid transparent;
  border-image: url("/container-c.png") 2 2 2 round;
  image-rendering: pixelated;
}

.inspirations img:hover{
  border-image: url("/container.png") 2 2 2 round;
  cursor: pointer;
}

#searchButton{
  position: relative;
  image-rendering: pixelated;
  width: 20%;
  height: auto;
  top: 100px;
  content: url("/retroWindowsButtons/searchbutton.png");
}

#searchButton:hover{
  content: url("/retroWindowsButtons/searchbutton-focus.png");
  cursor: pointer;
}

.inspirations{
  position: relative;
  top: 25px;
}

#campfireButton{
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 7%;
  height: auto;
  transition: 0.2s ease-out;
  filter:
  drop-shadow(0 0 0 #ffffff00) 
  drop-shadow(0 0 0 #ffffff00)
  drop-shadow(0 0 0 #ffffff00) 
  drop-shadow(0 0 0 #ffffff00);
  z-index: 2;
}

#campfireButton:hover{
  width: 8%;
  border-width: 4px;
  bottom: 2%;
  right: 2%;
  filter:
  drop-shadow(3px 0 0 white) 
  drop-shadow(0 3px 0 white)
  drop-shadow(-3px 0 0 white) 
  drop-shadow(0 -3px 0 white);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .subtitle img{
    content: url("/main-images/Window_Header_Small.png");
    width: 500px;
  }
  p{
    font-size: 32px;
  }
  .smalltext{
    font-size: 20px;
  }
  pagering-link{
    font-size: 20px;
  }
  .nav {
    height: 40px;
    font-size: 32px;
  }
  #buttonCredit{
    position: relative;
    top: 120px;
  }
  #campfireButton{
    width: 10%;
  }
  #campfireButton:hover{
    width: 12%;
  }
  .miniButtons img{
    width: 176px;
    height: 62px;
    margin: 2px;
  }
  .miniButtons a{
    height: 62px;
  }
}